<div ng-controller="userImagesCtrl" id="user-image">

    <add-content ng-if="status.addClicked" url="Image" user="user" data="getData()">
    </add-content>

    <div  style="margin-top:5%">
        <div ng-if="images.length == 0 && !myPageViewed" class="no-data">
            {{"User.No_Data" | translate}}
        </div>
        <div ng-if="images.length == 0 && myPageViewed" class="no-data">
            {{"User.No_Data_My" | translate}}
        </div>
        <div id="jssor">
         </div>
    </div>
</div>