<div ng-controller="userDetailsCtrl" class="content-url">

    <div ng-if="myPageViewed" class="icon-div">
     <span  ng-show="!editMode" class="user-icon glyphicon glyphicon-pencil" ng-click="toggleEditMode()" data-toggle="tooltip" data-placement="bottom" title="{{'Tooltip.Edit_Mode' | translate}}">
     </span>
    <span ng-show="editMode"  class="user-icon glyphicon glyphicon-arrow-right" ng-click="notEditMode()" data-toggle="tooltip" data-placement="bottom" title="{{'Tooltip.Back' | translate}}">
        </span>
     <span ng-show="editMode" class="user-icon glyphicon glyphicon-floppy-disk" ng-click="saveButtonClicked()" data-toggle="tooltip" data-placement="bottom" title="{{'Tooltip.Save' | translate}}">
    </span>
    </div>

  <!--  <button type="button" class="btn btn-primary b-update-user center-block" ng-if="myPageViewed" ng-click="toggleEditMode()">{{'General.Edit' | translate}} {{'User.User_Details' | translate}}</button>
-->

<display-message message="{{displayMessage}}" error="{{displayMessageError}}">
</display-message>
<div ng-if="!editMode" class="icon-div">
    <div class="user-Details">

    <img  ng-if="user.main_img !== undefined || user.main_img !== null"  ng-src="{{user.main_img}}" alt="{{'General.Main_Img' | translate}}"/>
    <img ng-if="user.main_img === undefined || user.main_img === null" ng-src="../../img/ball-img.jpg" class="coachImg center"></span>

        <div class="table-responsive read-only" >
        <table class="table">
            <tr >
                <td >{{'User.Details.Phone' | translate}} :</td>
                <td >{{user.phone}}</td>
            </tr>
            <tr>
                <td >{{'User.Details.Coach_Location' | translate}} :</td>
                <td ><reverse-geocode ng-if="user.location" location={{user.location}}/></td>
            </tr>
            <tr >
                <td >{{'User.Details.Email' | translate}} :</td>
                <td >{{user.email}}</td>
            </tr>
            <tr >
                <td >{{'User.Details.Description' | translate}} :</td>
                <td >{{user.description}}</td>
            </tr>
            <tr>
                <td >{{'User.Details.Price_Per_Hour' | translate}} :</td>
                <td >{{user.price_per_hour}}</td>
            </tr>
            <tr>
                <td >{{'User.Details.Gender' | translate}} :</td>
                <td >{{user.gender | genderFilter}}</td>
            </tr>
            <tr >
                <td >{{'User.Details.Age' | translate}} :</td>
                <td >{{user.birth_date | ageFromBirthdayFilter}} </td>
            </tr>
            <tr>
                <td>{{'User.Details.Coach_Degrees' | translate}} : </td>
                <td>
                <ul>
                	<li ng-repeat="degreeId in user.degrees">
                		{{degreeId | staticDataIdToNameFilter}}
                	</li>
                </ul>
                </td>
            </tr>
        </table>
    </div>
    </div>
    <button type="button" class="btn btn-primary b-update-user center-block" ng-if="myPageViewed" ng-click="toggleEditMode()">{{'General.Edit' | translate}} {{'User.User_Details' | translate}}</button>
	<br>
	<div class="fb-share-button" 
		data-href="{{getLocation()}}" 
		data-layout="button_count">
	</div>
	<br>
	<div class="fb-comments" 
		data-href="{{getLocation()}}" 
		data-numposts="10" 
		data-colorscheme="light">
	</div>
</div>

<div ng-if="editMode" id="user-Details" class="user-Details icon-div">
    <!-- image upload directive -->
    <form action="/file-upload"
          name="file"
          value="user.main_img"
          class="dropzone"
          id="dropzone">
        <div class="dz-message">{{'SignUp.Drop_Img' | translate}}
        </div>
    </form>
    <div class="table-responsive">
    <table class="table">
    <tr>
        <td>
        	<md-input-container>
	            <label>{{'User.Details.First_Name' | translate}}</label>
	            <input placeholder="" ng-model="updatedUser.first_name" />
	        </md-input-container>
	        <md-input-container>
	            <label>{{'User.Details.Last_Name' | translate}}</label>
	            <input placeholder="" ng-model="updatedUser.last_name" />
	        </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
	        <md-input-container>
	            <label>{{'User.Details.Phone' | translate}}</label>
	            <input placeholder="" ng-model="updatedUser.phone" />
	        </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
	        <md-input-container>
	            <label>{{"User.Details.Coach_Location" | translate}}</label>
	            <input placeholder="" googleplace location="{{updatedUser.location}}"  > 
	            </input>	            
	        </md-input-container>
        <td>
    </tr>
    <tr>
  		<td>
	        <md-input-container>
	            <label>{{'User.Details.Email' | translate}}</label>
	            <input placeholder="" ng-model="updatedUser.email"/>
	        </md-input-container>
        <td >
    </tr>

    <tr>
        <td>
        	<md-input-container>
            	<label>{{'User.Details.Password' | translate}}</label>
            	<input placeholder="" type="password" ng-model="updatedUser.password"/>
        	</md-input-container>
        <td>
    </tr>
    <tr>
        <td>
            <md-input-container>
                <label>{{'User.Details.Birth_Day' | translate}}</label>
                <input 	type="date" 
                		ng-model="updatedUser.birth_date" 
                		placeholder="MM-dd-yyyy"/>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
            <md-input-container>
                <label>{{'User.Details.Price_Per_Hour' | translate}}</label>
                <input ng-model="updatedUser.price_per_hour" type="number" step="1">
            </md-input-container>
            <i class="fa fa-shekel"></i>
        </td>
    </tr>
    <tr>
        <td>{{'User.Details.Description' | translate}} : </td>
        <td><textarea type="text" ng-model="updatedUser.description"></textarea></td>
    </tr>
    <tr>
        <td>{{'User.Details.Gender' | translate}} : </td>
        <td><span >{{updatedUser.gender | genderFilter}}</span>
        </td>
        <td>
            <md-switch  ng-model="updatedUser.gender">
            </md-switch>
        </td>
    </tr>

    <tr>
        <td>{{'User.Details.Coach_Degrees' | translate}} : </td>
        <td>
            <ul>
                <li ng-repeat="degree in allDegrees" style="display: inline-block;margin-left: 10px">
                    <md-checkbox class="md-primary" ng-checked="degreeExists(degree.id)" ng-click="degreeToggle(degree.id)" aria-label="degree.id">
                        {{ degree.name }}
                    </md-checkbox>
                </li>
            </ul>
        </td>
    </tr>
	</table>
        </div>
    <br>
    <button type="button" class="btn btn-primary b-update-user center-block" ng-click="saveButtonClicked()">
        {{'General.Save' | translate}}
    </button>
</div>
</div>