<div ng-controller="userImagesCtrl" >
<div ng-if="myPageViewed" user-menu type="Image" user="user" data="getData()" add="true" edit="true" save="true"></div>
<!--
    <add-content ng-if="myPageViewed" url="Image" user="user"></add-content>
-->

    <div id="user-image" style="margin-top:5%">
        <div ng-if="images.length == 0 && !myPageViewed" class="no-data">
            {{"User.No_Data" | translate}}
        </div>
        <div ng-if="images.length == 0 && myPageViewed" class="no-data">
            {{"User.No_Data_My" | translate}}
        </div>
        <div id="jssor">
         </div>
    </div>
</div>