<div ng-controller="userDetailsCtrl" >
 <form class="form-horizontal" role="form" action='' method="POST" ng-show="false">

    <fieldset>
        <div action="" class="dropzone" dropzone="" id="dropzone">
            <div class="dz-default dz-message">{{'SignUp.Drop_Img' | translate}}
            </div>
        </div>

        <div class="form-signUp">
            <label for="inputUsername">*{{'SignUp.First_Name' | translate}} </label>
            <input type="text" class="form-control" id="inputUsername" ng-model="user.first_name">
        </div>

        <div class="form-signUp">
            <label for="inputUserLastName">*{{'SignUp.Last_Name' | translate}} </label>
            <input type="text" class="form-control" id="inputUserLastName" ng-model="user.last_name">
        </div>

        <div class="form-signUp">
            <label>*{{'SignUp.Email' | translate}} </label>
            <input type="email" class="form-control" id="SignUpUsernameEmail" ng-model="user.email">
            {{user.email}}
        </div>
        <div class="form-signUp">
            <label >*{{'SignUp.Password' | translate}}   </label>
            <input type="password" class="form-control" id="SignUpPassword" ng-model="user.password">
        </div>

        <div class="form-signUp">
            <label >*{{'SignUp.Password_Confirm' | translate}}   </label>
            <input type="password" class="form-control" id="SignUpConfirmPassword" ng-model="passwordConfirm">
            <div ng-if="user.passwordConfirm !== user.password" style = "color:red"> {{'SignUp.Password_Match' | translate}}   </div>
        </div>

        <div class="form-signUp">
            <label>*{{'SignUp.Gender' | translate}}</label>
            <div class="btn-group" data-toggle="buttons" style="display: inline-flex">
                <label class="btn btn-default" style="width: 45px; margin-left: 10px; border-radius: 3px;">
                    <input type="radio" value="1" ng-model="user.gender" /> {{'SignUp.Male' | translate}}
                </label>
                <label class="btn btn-default" style="width: 45px; margin-left: 10px; border-radius: 3px;">
                    <input type="radio" value="2" ng-model="user.gender" /> {{'SignUp.Female' | translate}}
                </label>
            </div>
        </div>

<div class="form-signUp">
    <label>*{{'SignUp.Birth_Day' | translate}}</label>
    <div class="dropdown">
        <button class="btn  btn-default dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><label ng-show="day === undefined ">{{'SignUp.Day' | translate}}</label>
            <label ng-show="day !== undefined ">{{day}}</label>
            <span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation" ng-repeat="day in days" value="{{day}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setDay(day)">{{day}}</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn  btn-default dropdown-toggle" id="menu2" type="button" data-toggle="dropdown"><label ng-show="month === undefined ">{{'SignUp.Month' | translate}}</label>
            <label ng-show="month !== undefined ">{{month | monthTrans}}</label>
            <span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
            <li role="presentation" ng-repeat="month in months" value="{{month}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setMonth(month)">{{month | monthTrans}}</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn  btn-default dropdown-toggle" id="menu3" type="button" data-toggle="dropdown"><label ng-show="year === undefined ">{{'SignUp.Year' | translate}}</label>
            <label ng-show="year !== undefined ">{{year}}</label>
            <span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
            <li role="presentation" ng-repeat="year in years" value="{{year}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setYear(year)">{{year}}</a></li>
        </ul>
    </div>
</div>

<div class="form-signUp">
    <div style="display: list-item;">
        <label ng-show = "isCoach"> {{'SignUp.Objectives' | translate}}</label>
        <label ng-show = "isTrainer"> {{'SignUp.Degrees' | translate}}</label>
        </br>
        <label class="label-checkbox" ng-repeat="item in items">
            <input
                    type="checkbox"
                    name="selectedItems[]"
                    value="{{item}}"
                    ng-checked="selection.indexOf(item) > -1"
                    ng-click="togglePropertiesSelection(item)"
                    > {{item}}
        </label>
    </div>
</div>

<div class="form-signUp">
    <label ng-show="isTrainer">{{'SignUp.Trainer_Location' | translate}}</label>
    <label ng-show="isCoach">{{'SignUp.Coach_Location' | translate}}</label>
    <div class="dropdown">
        <button class="btn  btn-default dropdown-toggle" id="menu4" type="button" data-toggle="dropdown"><label ng-show="location === undefined">locations[1]</label>
            <span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
            <li role="presentation" ng-repeat="city in locations" value="{{year}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setLocation(city)">{{city}}</a></li>
        </ul>
    </div>
</div>

<div class="form-signUp">
    <label for="inputAbout"> {{'SignUp.About' | translate}}   </label>
    <textarea type="text" class="form-control" id="inputAbout" ng-model="user.about"/>
</div>


</fieldset>
</form>

<div class="form-de">
    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Name' | translate}} : </lable>
        <label class="lableDetails">  {{user.first_name}} {{user.last_name}}</label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Age' | translate}} : </lable>
        <label class="lableDetails"> {{age}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Gender' | translate}} : </lable>
        <label class="lableDetails"> {{gender}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Coach_Location' | translate}} : </lable>
        <label class="lableDetails"> {{location}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Coach_Location' | translate}} : </lable>
        <label class="lableDetails"> {{objectives}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.About' | translate}} : </lable>
        <label class="lableDetails"> {{About}} </label>
    </div>

</div>
</div>

</div>