<div ng-controller="userDetailsCtrl" >

<div class="form-de">
    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Name' | translate}} : </lable>
        <label class="lableDetails">  {{user.first_name}} {{user.last_name}}</label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Age' | translate}} : </lable>
        <label class="lableDetails"> {{age}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Gender' | translate}} : </lable>
        <label class="lableDetails"> {{gender}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Coach_Location' | translate}} : </lable>
        <label class="lableDetails"> {{location}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.Coach_Location' | translate}} : </lable>
        <label class="lableDetails"> {{objectives}} </label>
    </div>

    <div class="container ">
        <lable class="lableTitle">{{'User.Details.About' | translate}} : </lable>
        <label class="lableDetails"> {{About}} </label>
    </div>

</div>
</div>