<div ng-controller="userArticlesCtrl" >

    <div id="user-article" class="user-article">
        <div ng-if="articles.length == 0 && !myPageViewed" class="no-data">
            {{"User.No_Data" | translate}}
        </div>
        <div ng-if="articles.length == 0 && myPageViewed" class="no-data">
            {{"User.No_Data_My" | translate}}
        </div>
        <div ng-if="articles.length != 0">
            <ul class="row">
                <li ng-repeat="article in articles | orderBy: article.id ">
                    <md-card>
                        <md-card-content>
                            <h2>{{article.headline}}</h2>
                            <div  ng-bind-html="article.content">  </div>
                            <div>
                                <md-chips>
                                    <md-chip ng-repeat="tag in vid.tags">{{tag}}</md-chip>
                                </md-chips>
                            </div>
                    </md-card-content>
            </md-card>
                </li>
            </ul>
        </div>


    </div>
    <add-content ng-if="myPageViewed" url="Article" user="user"></add-content>
</div>
