@import "compass";
@import "../common.scss";

$main-img-height:90%;
$menu-margin-top:($main-img-height - 30%);
$margin-menu-right: 10%;
$home-search-height:15%;
$home-search-margin-top:$main-img-height - $home-search-height;
$tags-height: $main-img-height;
$tags-grey-height:400px;
$tags-grey-height-small:auto;
$energy-top:15%;
$tags-top:$main-img-height +25%;
$challenge-top:$tags-top - 3%;
$home-videos:$tags-top;


@mixin menu-position{
  background-repeat: no-repeat;
  background-size: initial;
  z-index: 1;

  top:$menu-margin-top;
  width: 180px;
  height:180px;/*
  position: absolute;
  top: $menu-margin-top;*/
}

@mixin menu-img($name){
  @include background-image("../../../images/home_page/menu/"+$name+".png");
}

@mixin tag-img($name){
  @include background-image("../../../images/home_page/tags/tags_"+$name+".png");
  height: 50%;
  width: 120px;
  background-size: initial;
  padding-bottom: 100%;
  margin-top:5%;

}

.tags {
  @include background-image("../../../images/home_page/background/gray_gradient_bg.png");
  position: absolute;
  top: $tags-top;
  width: 100%;
  height: $tags-grey-height;
  text-align: center;
  background-size: cover;
  background-clip: content-box;
  background-repeat: round;
  .energy {
    display: block;
    margin-top: 6%;
    position: relative;
  }

  .challenge{
    position: absolute;
    transform: translate(50%, -50%);
    bottom: 3px;
    margin-top: 3%;
  }
  ul {
  width: 100%;
    padding-bottom: 3%;
    position: relative;
    text-align: center;
    display:flex;
    list-style:none;
    li {
      display: inline-flex;
      align-items: center;
      padding-left: 4%;

    }/*
    li:first-child{
      padding-right: 0%;
    }*/
}
  .bicycle{
      @include tag-img("Bicycle");
  }
  .football{
    @include tag-img("football");
  }
  .exercise{
    @include tag-img("exercise");
  }
  .running{
    @include tag-img("running");
  }
  .swimming{
    @include tag-img("swimming");
  }
  .tennis{
    @include tag-img("tennis");
  }
  .weights{
    @include tag-img("Weights");
  }

}

.main-img{
  @include background-image("../../../images/home_page/background/main_picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight:bold;
  margin-bottom: 60px;
  height:$main-img-height;
  width: 100%;
  position: absolute;
  opacity: 0.6;
  max-height: 100%;
  min-height: 60%;
}

.menu-img-article{
 @include menu-img("articles");
  @include menu-position;


}

.menu-img-contact{
  @include menu-img("contact_us");
  @include menu-position;
}

.menu-img-about{
  @include menu-img("about_us");
  @include menu-position;
}


.login-button{
  @include login-button;
}

.menu{
  position: absolute;
  @include center;
  text-align: center;
  top: $menu-margin-top;
  width: 100%;
  ul{
    @include center;
    margin-bottom: 10px;
    width: 100%;
    li{
      cursor: pointer;
      display: inline-block;
      margin-left: 6%;
      margin-right: 6%;
    }
  }
}

.home-search{
  top:$home-search-margin-top;
  background:rgba(0,0,0,0.6);
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: $home-search-height;
}


.home-video{
  position: absolute;
  top:$home-videos;
  margin-top:$tags-grey-height;
  ul{
    padding-right: 0;
    width: 100%;
    li{
      display: inline-block;
        width: 25%;
      video{
        width: 100%;
      }
    }
  }

  .hover-video{
    position: absolute;
    display: none;
    height: 50%;
    width: 25%;
    opacity: 0.2;
    background-color: black;
  }

  .hover-video:hover{
    display: block;
  }


  button{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 6%;
  }
}


/********************Media ****************************/



@media screen and (max-width: $screen-width) {
  $media-background-repeat:no-repeat;
  .menu-img-about{
    width:0;
  }
  .menu-img-article{
    width:0;
  }
  .menu-img-contact{
    width:0;
  }

  .home-search{
    top:$home-search-margin-top - 10%;
    height: $home-search-height + 10%;
  }

  .tags{
    background-image: none ;
    background-color: grey;
    height:  $tags-grey-height-small;
    padding-right: 0px;
    position: absolute;
    label{
      top:15px;
    }
    ul{
      margin-top: 8px;
      margin-right: 0;
      display:initial;
      list-style:initial;
      li{
        padding-right: 0;
        display: inline-flex;
      }


    }

    .energy, .challenge{
      display: none;
    }

    .bicycle{
      @include screen-background-round;
    }
    .football{
      @include screen-background-round;
    }
    .exercise{
      @include screen-background-round;
    }
    .running{
      @include screen-background-round;
    }
    .swimming{
      @include screen-background-round;
    }
    .tennis{
      @include screen-background-round;
    }
    .weights{
      @include screen-background-round;
    }
  }

  .home-video{
    ul{
      li{
        width: 50%;
      }
    }
  }
}