@import "compass";
@import "../common.scss";



@mixin menu-position{
  background-repeat: no-repeat;
  background-size: initial;
  z-index: 1;
  position: relative;
  width: 180px;
  height:180px;
}

@mixin menu-img($name){
  @include background-image("../../../images/home_page/menu/"+$name+".png");
}

@mixin tag-img($name){
  @include background-image("../../../images/home_page/tags/tags_"+$name+".png");
  height: 50%;
  width: 120px;
  background-size: initial;
  padding-bottom: 100%;
  margin-top:5%;

}

.tags {
  @include background-image("../../../images/home_page/background/gray_gradient_bg.png");
  position: relative;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-clip: content-box;
  background-repeat: round;
  .energy {
    display: block;
    position: relative;
    padding-top: 6%;
  }

  .challenge{
    position: relative;
    transform: translate(5%, -50%);
    bottom: 3px;
    margin-top: 3%;
  }
  ul {
  width: 100%;
    padding-bottom: 3%;
    position: relative;
    text-align: center;
    display:flex;
    list-style:none;
    li {
      display: inline-flex;
      align-items: center;
      padding-left: 4%;

    }
}
  .bicycle{
      @include tag-img("Bicycle");
  }
  .football{
    @include tag-img("football");
  }
  .exercise{
    @include tag-img("exercise");
  }
  .running{
    @include tag-img("running");
  }
  .swimming{
    @include tag-img("swimming");
  }
  .tennis{
    @include tag-img("tennis");
  }
  .weights{
    @include tag-img("Weights");
  }

}

.main-img{
  @include background-image("../../../images/home_page/background/main_picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight:bold;
  width: 100%;
  position: relative;
  opacity: 0.6;
  height: 800px;
  max-height: 100%;
  min-height: 60%;
}

.menu-img-article{
 @include menu-img("articles");
  @include menu-position;


}

.menu-img-contact{
  @include menu-img("contact_us");
  @include menu-position;
}

.menu-img-about{
  @include menu-img("about_us");
  @include menu-position;
}


.login-button{
  @include login-button;
}

.menu{
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 300px;
  ul{
    margin-bottom: 10px;
    width: 100%;
    li{
      cursor: pointer;
      display: inline-block;
      margin-left: 6%;
      margin-right: 6%;
    }
  }
}

.home-search{
  display: inline-flex;
  position: relative;
  width: 100%;
  bottom: 296px;
  search{
    width: 100%;
    position: absolute;
  }
}


.home-video{
  position: relative;
  ul{
    padding-right: 0;
    width: 100%;
    position: relative;
    li{
      display: inline-block;
        width: 25%;
      .video-wrapper{
        position: relative;
      }
      video{
        width: 100%;
        position: relative;
      }
    }
  }


  .hover-video{
    opacity: 0;
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    button{
      background-color: white;
      border-radius: 5px;
      position: relative;
      top: 40%;
      right: 35%;
      margin-left: 2%;
    }
  }
  .hover-video:hover{
    transition: 2s;
    opacity: 0.75;
  }
}

.home-favorites{
  width: 100%;
  position: relative;
  li{
    img{
      width: 33%;
    }
  }
}


/********************Media ****************************/



@media screen and (max-width: $screen-width) {
  $media-background-repeat:no-repeat;
  .menu-img-about{
    width:0;
  }
  .menu-img-article{
    width:0;
  }
  .menu-img-contact{
    width:0;
  }

  .home-search{
    bottom: 337px;
    .search{

    }
  }

  .tags{
    background-image: none ;
    background-color: grey;
    padding-right: 0px;
    position: relative;
    label{
      top:15px;
    }
    ul{
      margin-top: 8px;
      margin-right: 0;
      display:initial;
      list-style:initial;
      li{
        padding-right: 0;
        display: inline-flex;
      }


    }

    .energy, .challenge{
      display: none;
      padding-top: 6%;
    }

    .bicycle{
      @include screen-background-round;
    }
    .football{
      @include screen-background-round;
    }
    .exercise{
      @include screen-background-round;
    }
    .running{
      @include screen-background-round;
    }
    .swimming{
      @include screen-background-round;
    }
    .tennis{
      @include screen-background-round;
    }
    .weights{
      @include screen-background-round;
    }
  }

  .home-video{
    ul{
      li{
        width: 50%;
      }
    }
  }

  .home-favorites{
    li{
      img{
        width:100%;
      }
    }
  }
}