<div class="container videoModal">
    <div ng-click="closeModal()" class="glyphicon glyphicon-remove-circle remove-class close-video"> </div>

    <label>{{::title}}<a href ng-click="toCoach()">{{'Video.ToCoach' | translate}}</a></label>

    <p>
        {{::description}}
    </p>

    <iframe ng-if="youTube" ng-src="{{ videoRef1 | trustUrl}}" frameborder="0" autoplay allowfullscreen></iframe>

    <video ng-if="!youTube" ng-src="{{ videoRef1 | trustUrl}}" frameborder="0" autoplay controls allowfullscreen></video>

</div>