<div ng-controller="homeVideosCtrl">
    <ul>
        <!--ng-click="playVideo(video)"
        ng-mouseover="playBackground(video.id)

            ng-mouseout="stopBackground(video.id)""-->
        <li ng-repeat="video in videos | limitTo: 8">
            <div id="video1">
                <video id={{video.id}} name="media" preload="metadata" loop muted>
                    <source src="{{ video.contentOffset | trustUrl }}" >
                </video>
<!--
                <div class="details">
                    <label>{{video.headline}}</label>
                    <label>{{video.shortDesc}}<span ng-show="video.flag">{{'Video.ReadMore' | translate}}</span></label>
                </div>-->
            </div>
        </li>
    </ul>
</div>