@import "compass";
$font-style: "Helvetica Neue" , Helvetica, Arial, sans-serif;

.font{
  font-family: $font-style;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

label{
  font: $font-style;
  padding-left: 10px;
  width: 150px;

  .title{
    font-size: 18px;
    font-weight: bold;
  }

  .details{
    font-size: 16px;
  }
}

input{
  font: $font-style;
  max-width: 250px;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 4px;

  .missing{
    border-color: red;
  }
}

button{
  max-width: 150px;
  color: #286090 ;
  label{
    width: 100%;
  }
}

.font-large{
  font-size: large;
}

.font-medium{
  font-size: medium;
}

.font-small{
  font-size: small;
}

.font-header{
  padding:20px;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.modal{
  margin: 25px auto 0;
   .container{
   background-color: #ffffff;
    @include border-radius(5px);
  }
}