@import "compass/css3/user-interface";
$screen-width:800px;

$font-default:Ariel, sans-serif;
$background-white:white;
$blue:rgb(40,194,227);
$grey:rgb(232,232,231);
$grey-darker:rgb(37,39,38);

$search-blue-bg-height:150%;
$title-font-size:40px;
$sub-title-font-size:30px;
$text-font-size:12px;
$margin-right:10%;
$background-size-images:contain;
$background-repeat-image:no-repeat;

.title-font-size {
  font-size:$title-font-size;
  font-weight: bold;
  font-family:$font-default;

}

.text-font-size {
  font-size:$text-font-size;
  font-family:$font-default;
}

.sub-title-font-size {
  font-size:$sub-title-font-size;
  font-family:$font-default;
}

.sub-title-font-size-small {
  font-size:$sub-title-font-size - 5px;
  font-family:$font-default;
}


  @mixin screen-background-round{
    background-repeat: no-repeat;
    background-size: cover;
  }

  @mixin placeholder() {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
  }

  @mixin login-button{
    @include background-image("../../images/common/login/blue_button.png")
  }

  @mixin logo{
    @include background-image("../../images/common/logos/logo.png");
    float: left;
    height: 18%;
    width: 30%;
    position: absolute;

    background-repeat: no-repeat;
    left: 0px;
    z-index: 1;
    cursor: pointer;
  }

  @mixin text-style{
    font:$font-default;
  }

  @mixin background-image($url){
    background-image: url($url) ;
    background-repeat: $background-repeat-image;
    background-size: $background-size-images;
  }


  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }

  @mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .center {
    @include center;
  }

   .parent {
    position: relative;
  }
  .child {
    @include center;
  }

  iframe{
    position: absolute;
    width: 1px;
    display: none;
    height: 1px;
    left: 0px;
  }

  li {
    list-style-type: none;
  }

@media screen and (max-width: $screen-width) {
  $media-background-repeat:no-repeat;
  .logo{
    background-repeat: $media-background-repeat;
  }
  }