@import "compass";
@import "common.scss";

body{
  background-color: white;
  font-family: $font-default;
}

.logo{
  @include logo;
}

.font-title{
  font-size: $title-font-size;
}

.font-sub-title{
  font-size:$sub-title-font-size
}

.font-text{
  font-size:$text-font-size;
}

