<div class="container loginModal" style="">
    <div class="row">
        <div class="main main-modal" style="transition: width 1s ease;" ng-class="{'signUp-modal': !signIn}">

            <div  ng-if="signIn">

                <a href="#" ng-click="close()"><span class="glyphicon glyphicon-remove" style="font-size:1.5em"></span></a>


                <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="btn btn-block btn-social btn-facebook">
                        <i class="fa fa-facebook"></i>  Facebook
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="btn btn-block btn-social btn-google">
                        <i class="fa fa-google-plus"></i>  Google+
                    </a>
                </div>
            </div>
                <br/>

            <form role="form">
                <div class="form-group">
                    <label for="inputUsernameEmail">{{'Login.Email' | translate}} </label>
                    <input type="email" class="form-control" id="inputUsernameEmail" ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="inputPassword"> {{'Login.Password' | translate}}   </label>

                    <input type="password" class="form-control" id="inputPassword" ng-model="user.password">

                    <a class="pull-right" href="#">{{'Login.Forget_Password' | translate}} </a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn btn-primary submit" ng-click="userSignIn()">
                        {{'Login.Login' | translate}}
                    </button>
                    <label style="color: red" ng-if="errorSignIn"> {{'Login.SignIn_Incorrect' | translate}}   </label>
                    <label ng-if="!errorSignIn">    </label>
                </div>
                <hr>
                <label class="font-medium"> {{'Login.Not_Member' | translate}}</label>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-md btn-primary btn-block" ng-click="signInTraining()">{{'Login.Trainer' | translate}}</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-md btn-primary btn-block" ng-click="signInCoach()">{{'Login.Coach' | translate}}</a>
                    </div>
                </div>


            </form>
            </div>



                <div class="row" ng-if="!signIn">
                    <div style="transition: width 1s ease;">
                        <a href="#" class="btn btn-lg" ng-click="backPressed()">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>

                        <legend>{{'SignUp.Welcome' | translate}}</legend>
                        <form class="form-horizontal" role="form" action='' method="POST">

                            <fieldset>


                                <div action="" class="dropzone" dropzone="" id="dropzone">
                                    <div class="dz-default dz-message">{{'SignUp.Drop_Img' | translate}}
                                    </div>
                                </div>

                                <div class="form-signUp">
                                    <label for="inputUsername">*{{'SignUp.First_Name' | translate}} </label>
                                    <input type="text" class="form-control" id="inputUsername" ng-model="user.first_name">
                                </div>

                                <div class="form-signUp">
                                    <label for="inputUserLastName">*{{'SignUp.Last_Name' | translate}} </label>
                                    <input type="text" class="form-control" id="inputUserLastName" ng-model="user.last_name">
                                </div>

                                <div class="form-signUp">
                                    <label for="inputUsernameEmail">*{{'SignUp.Email' | translate}} </label>
                                    <input type="email" class="form-control" id="SignUpUsernameEmail" ng-model="user.email">
                                    {{user.email}}
                                </div>
                                <div class="form-signUp">
                                    <label for="inputPassword">*{{'SignUp.Password' | translate}}   </label>
                                    <input type="password" class="form-control" id="SignUpPassword" ng-model="user.password">
                                </div>

                                <div class="form-signUp">
                                    <label for="inputPassword">*{{'SignUp.Password_Confirm' | translate}}   </label>
                                    <input type="password" class="form-control" id="SignUpConfirmPassword" ng-model="user.passwordConfirm">
                                    <div ng-if="user.passwordConfirm !== user.password" style = "color:red"> {{'SignUp.Password_Match' | translate}}   </div>
                                </div>

                                <div class="form-signUp">
                                    <label>*{{'SignUp.Gender' | translate}}</label>
                                    <div class="col-sm-9">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" ng-click="user.gender = 'Male'"> {{'SignUp.Male' | translate}}</button>
                                            <button type="button" class="btn btn-default" ng-click="user.gender = 'Female'"> {{'SignUp.Female' | translate}}</button>
                                         </div>
                                    </div>
                                </div>

                              <div class="form-signUp">
                                  <label>*{{'SignUp.Birth_Day' | translate}}</label>
                                  <div class="dropdown">
                                      <button class="btn  btn-default dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><label ng-show="day === undefined ">{{'SignUp.Day' | translate}}</label>
                                          <label ng-show="day !== undefined ">{{day}}</label>
                                          <span class="caret"></span></button>

                                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                          <li role="presentation" ng-repeat="day in days" value="{{day}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setDay(day)">{{day}}</a></li>
                                      </ul>
                                  </div>

                                  <div class="dropdown">
                                      <button class="btn  btn-default dropdown-toggle" id="menu2" type="button" data-toggle="dropdown"><label ng-show="month === undefined ">{{'SignUp.Month' | translate}}</label>
                                          <label ng-show="month !== undefined ">{{month | monthTrans}}</label>
                                          <span class="caret"></span></button>

                                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                                          <li role="presentation" ng-repeat="month in months" value="{{month}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setMonth(month)">{{month | monthTrans}}</a></li>
                                      </ul>
                                  </div>

                                  <div class="dropdown">
                                      <button class="btn  btn-default dropdown-toggle" id="menu3" type="button" data-toggle="dropdown"><label ng-show="year === undefined ">{{'SignUp.Year' | translate}}</label>
                                          <label ng-show="year !== undefined ">{{year}}</label>
                                          <span class="caret"></span></button>

                                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                                          <li role="presentation" ng-repeat="year in years" value="{{year}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setYear(year)">{{year}}</a></li>
                                      </ul>
                                  </div>
                              </div>

                                <div class="form-signUp">
                                    <div style="display: list-item;">
                                        <label ng-show = "isCoach"> {{'SignUp.Objectives' | translate}}</label>
                                        <label ng-show = "isTrainer"> {{'SignUp.Degrees' | translate}}</label>
                                        </br>
                                        <label class="label-checkbox" ng-repeat="item in items">
                                            <input
                                                    type="checkbox"
                                                    name="selectedItems[]"
                                                    value="{{item}}"
                                                    ng-checked="selection.indexOf(item) > -1"
                                                    ng-click="togglePropertiesSelection(item)"
                                                    > {{item}}
                                        </label>
                                    </div>
                                </div>


                                <div class="form-signUp">
                                    <label ng-show="isTrainer">{{'SignUp.Trainer_Location' | translate}}</label>
                                    <label ng-show="isCoach">{{'SignUp.Coach_Location' | translate}}</label>
                                    <div class="dropdown">
                                        <button class="btn  btn-default dropdown-toggle" id="menu4" type="button" data-toggle="dropdown"><label ng-show="location === undefined">locations[1]</label>
                                             <span class="caret"></span></button>

                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                                            <li role="presentation" ng-repeat="city in locations" value="{{year}}"><a role="menuitem" tabindex="-1" href="#" ng-click="setLocation(city)">{{city}}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-signUp">
                                    <label for="inputAbout"> {{'SignUp.About' | translate}}   </label>
                                    <textarea type="text" class="form-control" id="inputAbout" ng-model="user.about"/>
                                </div>

                                <div class="form-signUp">
                                    <button type="submit" class="btn btn btn-primary submit" ng-click="createNewUser()">
                                        {{'Login.Login' | translate}}
                                    </button>
                                </div>


                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>