<div class="container loginModal" style="">
    <div class="row">
        <div class="main main-modal" style="transition: width 1s;" ng-class="{'signUp-modal': !signIn}">

            <div  ng-if="signIn">

                <a href="#" ng-click="close()"><span class="glyphicon glyphicon-remove" style="font-size:1.5em"></span></a>

                <br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="btn btn-block btn-social btn-facebook">
                        <i class="fa fa-facebook"></i>  Facebook
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="btn btn-block btn-social btn-google">
                        <i class="fa fa-google-plus"></i>  Google+
                    </a>
                </div>
            </div>
                <br/>

            <form role="form">
                <div class="form-group">
                    <label for="inputUsernameEmail">{{'Login.Email' | translate}} </label>
                    <input type="email" class="form-control" id="inputUsernameEmail">
                </div>
                <div class="form-group">
                    <label for="inputPassword"> {{'Login.Password' | translate}}   </label>

                    <input type="password" class="form-control" id="inputPassword">

                    <a class="pull-right" href="#">{{'Login.Forget_Password' | translate}} </a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn btn-primary submit">
                        {{'Login.Login' | translate}}
                    </button>
                </div>
                <hr>
                <label class="font-medium"> {{'Login.Not_Member' | translate}}</label>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-md btn-primary btn-block" ng-click="signInCoach()">{{'Login.Coach' | translate}}</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-md btn-primary btn-block" ng-click="signInTrainer()">{{'Login.Trainer' | translate}}</a>
                    </div>
                </div>


            </form>
            </div>



                <div class="row" ng-if="!signIn">
                    <div style="transition: width 0.6s ease">
                        <a href="#" class="btn btn-lg" ng-click="backPressed()">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                        <legend></a> {{'SignUp.Welcome' | translate}}</legend>
                        <form class="form-horizontal" role="form" action='' method="POST">
                            <fieldset>
                                <div class="form-signUp">
                                    <label for="inputUsernameEmail">{{'SignUp.Email' | translate}} </label>
                                    <input type="email" class="form-control" id="SignUpUsernameEmail">
                                </div>
                                <div class="form-signUp">
                                    <label for="inputPassword"> {{'SignUp.Password' | translate}}   </label>

                                    <input type="password" class="form-control" id="SignUpPassword">

                                </div>
                                <div class="form-signUp">
                                    <label for="inputPassword"> {{'SignUp.Password_Confirm' | translate}}   </label>

                                    <input type="password" class="form-control" id="SignUpConfirmPassword">
                                </div>
                                <div class="form-signUp">
                                    {{'SignUp.Gender' | translate}}
                                    <div>
                                        <label ><input type="radio" name="gender" id="inputMale"> {{'SignUp.Male' | translate}} </label>
                                        <label><input type="radio" name="gender" id="inputFemale">{{'SignUp.Female' | translate}}</label>
                                    </div>
                                </div>

                              <div class="form-signUp">
                                  <label>{{'SignUp.Birth_Day' | translate}}</label>
                                  <select name="Day">
                                        <option ng-repeat="day in days" value="{{day}}">{{day | daysTrans}}</option>

                                  </select>

                                  <select name="Month">
                                      <option ng-repeat="month in months" value={{month}}>{{month | monthTrans}}</option>

                                  </select>

                                  <select name="Year" >
                                      <option ng-repeat="year in years" value={{year}}>{{year | yearTrans}}</option>

                                  </select>
                              </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>