    <!-- start header_bottom -->
    <div class="header-bottom" ng-controller="mainCtrl">
        <div class="logo">
            <a href="index.html">
                <img src="/img/logos/logo_with_sentence.png"/>
            </a>
        </div>
        <div>
            <div class="header-bottom_left">
                <i class="phone"> </i><span>1-200-346-2986</span>
            </div>
            <div class="nav">
                <ul>
                    <li ng-if="!isLoggedIn"><a href="" ng-click="signIn()"><span>{{'Login.Login' | translate}} </span></a></li>
	                <li ng-if="isLoggedIn">
	                    <div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								{{'Login.Hello' | translate}} {{currentUser.name}}
						  		<span class="caret"></span>
					  		</button>
				  			<ul class="dropdown-menu">
						    	<li><a href="#" ng-click="myPage()">{{'Login.My_Page' | translate}}</a></li>
						    	<li class="divider"></li>
						    	<li><a href="#" ng-click="logout()">{{'Login.Logout' | translate}}</a></li>
						  	</ul>
						</div>
						<!-- Split button 
						<div class="btn-group">
							<button type="button" class="btn btn-primary">
								{{'Login.Hello' | translate}} {{currentUser.name}}
							</button>
						  	<button type="button" 
						  			class="btn btn-primary dropdown-toggle" 
						  			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    	<span class="caret"></span>
						    	<span class="sr-only">Toggle Dropdown</span>
						  	</button>
						  	<ul class="dropdown-menu">
						    	<li><a href="#" ng-click="myPage()">{{'Login.My_Page' | translate}}</a></li>
						    	<li role="separator" class="divider"></li>
						    	<li><a href="#" ng-click="logout()">{{'Login.Logout' | translate}}</a></li>
						  	</ul>
						</div>
						-->
					</li>
                    <li><a class="fa fa-facebook" href="#" ></a></li>
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-google" href="#"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- end header_bottom -->
    <!-- start menu -->
    <div class="menu" id="menu">
        <div class="container">

            <div class="h_menu4"><!-- start h_menu4 -->
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li><a class="active"  ui-sref="main.home"><span class="glyphicon glyphicon-home"></span> {{'Menu.Home' | translate}}</a></li>
                    <li><a ui-sref="main.coach">{{'Menu.Coachers' | translate}}</a></li>
                    <li><a ui-sref="main.articles">{{'Menu.Articles' | translate}}</a></li>
                    <li><a ui-sref="main.aboutUs">{{'Menu.AboutUs' | translate}}</a></li>
                    <li><a ui-sref="main.contactUs">{{'Menu.ContactUs' | translate}}</a></li>
                </ul>
            </div><!-- end h_menu4 -->
            <div class="clear"></div>

            </div>
        </div>
    </div>

    <div class="section1"  class="ui" ui-view="app"></div>
    <!-- end menu -->
