.coachProperties{
    position: absolute;
    right: 10%;
}

.coacherShadow{
    margin: 20px;
    padding-right: 5px;
    padding-left: 5px;

}

.coachProperties li:hover{
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 6px 6px 6px 5px rgba(0,0,0,.4);
    border-width: 3px;
    border-radius: 3px;
    margin: -2px;
    margin-bottom: -10px;
   /* background: #fff;*/
}

.coachProperties ul{
   display: inline-block;
}

.coachProperties li{
    display: inline-block;

    margin: 0 auto -2px auto;
    border: 1px solid transparent;

}

.coachImg{
    height: 163px;
    width: 235px;
    border: 1px solid black;
}