/* line 1, ../../../sass/main/articles/articles.scss */
.articlesLi {
  margin: 5% 5%;
  display: inline-block;
  width: 30%;
  border: 1px solid transparent;
  margin: 0 auto 0 20px;
}

/* line 9, ../../../sass/main/articles/articles.scss */
.articleModal {
  width: 65%;
  margin-top: 9%;
}
/* line 12, ../../../sass/main/articles/articles.scss */
.articleModal .title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
/* line 17, ../../../sass/main/articles/articles.scss */
.articleModal .desc {
  font-size: x-large;
}
/* line 21, ../../../sass/main/articles/articles.scss */
.articleModal .from label, .articleModal .from a {
  font-size: large;
}
/* line 25, ../../../sass/main/articles/articles.scss */
.articleModal .content {
  margin-top: 10px;
}
/* line 27, ../../../sass/main/articles/articles.scss */
.articleModal .content img {
  max-width: 100%;
}
