<div ng-controller="coachersCtrl" >
    <check-box-filters></check-box-filters>


    <!--Switch for Maps -->
    <div style="margin-left:2px; transition: 3s; height: 45px" >
        <span style="margin-left:2%;"> {{"Google.Maps" | translate}}</span>
        <md-switch class="md-primary" ng-model="maps"  style="    padding-left: 1%;
    margin: 0px;
    display: initial;
    float: right;
    position: absolute;">
        </md-switch>
        <!--Switch for Maps -->
    <span ng-if="maps" class="mapsWrapper">
        <span  ng-style="{top:top,height:heightMap}" google-map=""></span>
    </span>

    </div>


	<div class="coachProperties" >
	    <ul>
	        <li class="coach" ng-repeat="coach in coachers |pagination: currentPage * itemsPerPage | limitTo: itemsPerPage" ng-click="coacherClicked(coach)">
	            <div class="coacherShadow">
	            	<a href style="background-color: inherit; width: auto; padding: 0px">
	                	 <img ng-if="coach.main_img !== undefined && coach.main_img !== null" src={{coach.main_img}} class="coachImg center">
                         <img ng-if="coach.main_img === undefined || coach.main_img === null" ng-src="../../img/ball-img.jpg" class="coachImg center"></span>
	            	</a>
                    <div class="center coach-detail">
                        <div class="name">
                            <span ng-value="getGender(coach.gender)" style="float:right">{{::coach.first_name}}</span>
                            <span ng-if="coach.birth_date !== null && coach.birth_date !== undefined" >,{{::coach.birth_date | ageFromBirthdayFilter}} </span>
                        </div>
                        <div  ng-if="coach.location !== null && coach.location !== undefined" style="display: inline-flex;" >
                            <reverse-geocode class="sub-title" lat="{{coach.location.latitude}}" lng="{{coach.location.longitude}}" />
                        </div>
                        <div ng-if="coach.degrees.length > 0">
                            <ul>
                                 <span class="sub-title">
                                {{'Coaches.Degrees'| translate}}
                                 </span>
                                <li class="coach-degree" ng-repeat="degree in coach.degrees | limitTo:3">
                                    {{degree | staticDataIdToNameFilter}}<span ng-if="$index < (coach.degrees.length -1) &&  $index < 2">,</span>
                                </li>

                                <span ng-if="coach.degrees.length > 3">
                                    {{'Coaches.More'| translate}}
                                </span>
                            </ul>
                        </div>
                        <div>
                        </div>
                    </div>
	            </div>
	        </li>
	    </ul>
    </div>

    <div class="pagination-div center">
        <ul class="pagination">
            <li ng-class="DisablePrevPage()">
                <a href ng-click="prevPage()"> {{'General.Prev' | translate}}</a>
            </li>
            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}"
                ng-click="setPage(n)">
                <a href="#">{{n+1}}</a>
            </li>
            <li ng-class="DisableNextPage()">
                <a href ng-click="nextPage()">{{'General.Next' | translate}} </a>
            </li>
        </ul>
    </div>

     <!--<div class="pagination pagination-centered" ng-show="coachers.length">
         <ul class="pagination-controle pagination">
             <li>
                 <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                         ng-click="curPage=curPage-1"> &lt; PREV</button>
             </li>
             {{coachers.length/pageSize}}
             <li ng-repeat="pageNum in (coachers.length/pageSize) track by $index">
                 {{$index}}
             </li>
             <li>
                 <button type="button" class="btn btn-primary"
                         ng-disabled="curPage >= coachers.length/pageSize - 1"
                         ng-click="curPage = curPage+1">NEXT &gt;</button>
             </li>
         </ul>
     </div>-->
</div>
