<div>

    <div id="contentId"></div>
        <md-input-container>
            <label>{{'General.Headline' | translate}}</label>
            <input placeholder="" ng-model="content.headline" />
        </md-input-container>

       <!-- <md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap
                  md-transform-chip="ctrl.transformChip($chip)"
                  md-require-match="ctrl.autocompleteDemoRequireMatch">
            <md-autocomplete
                    md-selected-item="ctrl.selectedItem"
                    md-search-text="ctrl.searchText"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.name"
                    placeholder="Search for a vegetable">
                <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
            </md-autocomplete>
            <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
            </md-chip-template>
        </md-chips>
        <md-checkbox ng-model="ctrl.autocompleteDemoRequireMatch">
            Tell the autocomplete to require a match (when enabled you cannot create new chips)
        </md-checkbox>
        <br />-->

        <div ng-include=addContentUrl></div>


        <button class="btn btn-success" ng-click="saveButtonClicked()">{{'General.Add' | translate}}</button>

    <hr>
    </div>
</div>