<div ng-controller="addImageCtrl">
    <form name="file"
   		action="some_target_url"
        class="dropzone"
        id="dropzone">
        <div class="dz-default dz-message">{{'SignUp.Drop_Img' | translate}}</div>
    </form>
    <br>
	<label>{{'General.Headline' | translate}}
		<input id="imageHeadline" ng-model="headline" type="text"/>
	</label>
	<br>
	<label>{{'General.Description' | translate}}
		<input id="imageDescription" ng-model="description" type="text"/>
	</label>
	<br>
    <button class="btn btn-success" ng-click="uploadFile()">{{'General.Add' | translate}}</button>
</div>