/* line 3, ../../../sass/main/coachers/coachers.scss */
.coachProperties {
  right: 4%;
}

/* line 7, ../../../sass/main/coachers/coachers.scss */
.coacherShadow {
  margin: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 14, ../../../sass/main/coachers/coachers.scss */
.coachProperties li:hover {
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  /* background: #fff;*/
}

/* line 22, ../../../sass/main/coachers/coachers.scss */
.coachProperties ul {
  display: inline-block;
}

/* line 26, ../../../sass/main/coachers/coachers.scss */
.coachProperties li {
  display: inline-block;
  border: 1px solid transparent;
  margin: 0 auto 0 20px;
}

/* line 34, ../../../sass/main/coachers/coachers.scss */
.coachImg {
  height: 163px;
  width: 235px;
  border: 1px solid black;
}
