/* line 3, ../../../sass/main/coachers/coachers.scss */
.coachProperties {
  right: 4%;
}

/* line 7, ../../../sass/main/coachers/coachers.scss */
.coacherShadow {
  margin: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 14, ../../../sass/main/coachers/coachers.scss */
.coachProperties .coach:hover {
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  /* background: #fff;*/
}

/* line 23, ../../../sass/main/coachers/coachers.scss */
.coachProperties .coach {
  display: inline-table;
  width: 30%;
  border: 1px solid transparent;
  margin: 0 auto 0 20px;
  max-width: 400px;
  max-height: 300px;
}

/* line 33, ../../../sass/main/coachers/coachers.scss */
.coachImg {
  height: 200px;
  width: 80%;
  border: 1px solid black;
}

/* line 39, ../../../sass/main/coachers/coachers.scss */
.coach-detail {
  margin-top: 2% !important;
  margin-right: 10% !important;
}
/* line 42, ../../../sass/main/coachers/coachers.scss */
.coach-detail .name {
  font-size: x-large;
  font-weight: bold;
}
/* line 46, ../../../sass/main/coachers/coachers.scss */
.coach-detail ul {
  margin-right: -15%;
}
/* line 48, ../../../sass/main/coachers/coachers.scss */
.coach-detail ul .coach-degree {
  display: inline;
}
/* line 51, ../../../sass/main/coachers/coachers.scss */
.coach-detail ul .sub-title {
  text-decoration: underline;
}
/* line 56, ../../../sass/main/coachers/coachers.scss */
.coach-detail .sub-title {
  font-size: large;
  font-weight: 900;
}
