/* line 4, ../sass/common.scss */
.font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 15, ../sass/common.scss */
label {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
  width: 150px;
}
/* line 20, ../sass/common.scss */
label .title {
  font-size: 18px;
  font-weight: bold;
}
/* line 25, ../sass/common.scss */
label .details {
  font-size: 16px;
}

/* line 30, ../sass/common.scss */
input {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 250px;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 4px;
}
/* line 37, ../sass/common.scss */
input .missing {
  border-color: red;
}

/* line 42, ../sass/common.scss */
input:invalid {
  box-shadow: 0 0 3px red;
}

/* line 46, ../sass/common.scss */
input:valid {
  box-shadow: none;
}

/* line 50, ../sass/common.scss */
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/* line 56, ../sass/common.scss */
button {
  border: none;
  max-width: 150px;
  background-color: inherit;
}
/* line 61, ../sass/common.scss */
button label {
  width: 100%;
}

/* line 66, ../sass/common.scss */
.b-image {
  width: 60px;
}

/* line 70, ../sass/common.scss */
.li-login {
  margin-top: 10%;
}

/* line 74, ../sass/common.scss */
.user-image {
  border: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/* line 81, ../sass/common.scss */
.font-large {
  font-size: large;
}

/* line 85, ../sass/common.scss */
.font-medium {
  font-size: medium;
}

/* line 89, ../sass/common.scss */
.font-small {
  font-size: small;
}

/* line 93, ../sass/common.scss */
.font-header {
  padding: 20px;
  text-align: center;
}

/* line 98, ../sass/common.scss */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* line 104, ../sass/common.scss */
.modal {
  margin: 25px auto 0;
  display: block;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  position: fixed;
}
/* line 111, ../sass/common.scss */
.modal .container {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 116, ../sass/common.scss */
.modal .videoModal {
  height: 60%;
  width: 61%;
  padding: 0px;
  background: black;
  margin-top: 5%;
  border-radius: 7px;
}
/* line 123, ../sass/common.scss */
.modal .videoModal .close-video {
  font-size: xx-large;
  margin-top: 3%;
  border-radius: 100%;
  right: 18%;
  color: black;
  background-color: white;
  position: absolute;
}
/* line 132, ../sass/common.scss */
.modal .videoModal label {
  color: #00BFF0;
  text-align: center;
  display: block;
  margin-top: 1%;
  font-size: 150%;
  width: 100%;
  padding-left: 0px;
}
/* line 140, ../sass/common.scss */
.modal .videoModal label > a {
  margin-right: 3%;
  font-size: 70%;
  color: #ffffff;
}
/* line 146, ../sass/common.scss */
.modal .videoModal p {
  color: #72D0F4;
  text-align: center;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 1;
  font-size: 120%;
  width: 100%;
  padding-left: 0px;
}
/* line 157, ../sass/common.scss */
.modal .videoModal iframe {
  background: black;
  width: 100%;
  height: 83%;
  padding-bottom: 5%;
}
/* line 163, ../sass/common.scss */
.modal .videoModal video {
  background: black;
  width: 100%;
  height: 83%;
  padding-bottom: 5%;
}

/* line 172, ../sass/common.scss */
.checkboxdemoSyncing .checkboxDemo1 div {
  clear: both;
}

/* line 175, ../sass/common.scss */
.checkboxdemoSyncing .checkboxDemo1 .md-checkbox {
  float: left;
}

/* line 178, ../sass/common.scss */
.checkboxdemoSyncing legend {
  color: #3F51B5;
}

/* line 181, ../sass/common.scss */
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal;
}

/* line 185, ../sass/common.scss */
.checkboxdemoSyncing p {
  padding-left: 8px;
}

/* line 188, ../sass/common.scss */
.checkboxdemoSyncing .info {
  padding-left: 13px;
}

/* line 191, ../sass/common.scss */
.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px;
}

/* line 195, ../sass/common.scss */
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 100%;
}

/* line 200, ../sass/common.scss */
#gmaps {
  width: 300px;
  height: 800px;
  float: left;
  margin-left: 5%;
}

/* line 207, ../sass/common.scss */
.progressCirculardemoBasicUsage body {
  padding: 20px;
}

/* line 210, ../sass/common.scss */
.progressCirculardemoBasicUsage h4 {
  margin: 10px 0;
}

/* line 213, ../sass/common.scss */
.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px;
}

/* line 216, ../sass/common.scss */
.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px;
}

/* line 221, ../sass/common.scss */
.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0;
}

/* line 224, ../sass/common.scss */
.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px;
}

/* line 228, ../sass/common.scss */
.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px;
}

/* line 232, ../sass/common.scss */
.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1);
}

/* line 237, ../sass/common.scss */
.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em;
}

/* line 240, ../sass/common.scss */
.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0);
}

/* line 243, ../sass/common.scss */
iframe {
  left: 0 !important;
}

/* line 247, ../sass/common.scss */
.close-user {
  font-size: xx-large;
  margin-top: 3%;
  border-radius: 100%;
  right: 19%;
  background-color: white;
  position: absolute;
}

/* line 256, ../sass/common.scss */
.icon-div {
  position: relative;
  margin-top: 1%;
  margin-right: 10%;
}

/* line 262, ../sass/common.scss */
.user-icon {
  font-size: 20px;
  margin-left: 2%;
}

/* line 267, ../sass/common.scss */
.user-icon-invisible {
  color: #808065;
  font-size: 20px;
  margin-left: 2%;
}

/* line 273, ../sass/common.scss */
.chipsdemoContactChips md-content.autocomplete {
  min-height: 250px;
}

/* line 275, ../sass/common.scss */
.chipsdemoContactChips md-content.autocomplete input {
  min-width: 400px;
}

/* line 278, ../sass/common.scss */
.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 282, ../sass/common.scss */
.chipsdemoContactChips .contact-item {
  box-sizing: border-box;
}

/* line 284, ../sass/common.scss */
.chipsdemoContactChips .contact-item.selected {
  opacity: 0.5;
}

/* line 286, ../sass/common.scss */
.chipsdemoContactChips .contact-item.selected h3 {
  opacity: 0.5;
}

/* line 288, ../sass/common.scss */
.chipsdemoContactChips .contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 190px;
}

/* line 291, ../sass/common.scss */
.chipsdemoContactChips .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important;
}

/* line 295, ../sass/common.scss */
.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  /* line 300, ../sass/common.scss */
  .chipsdemoContactChips .contact-item {
    float: left;
    width: 33%;
  }
}
/* line 304, ../sass/common.scss */
.chipsdemoContactChips md-contact-chips {
  margin-bottom: 10px;
}

/* line 307, ../sass/common.scss */
.chipsdemoContactChips .md-chips {
  padding: 5px 0 8px;
}

/* line 310, ../sass/common.scss */
.chipsdemoContactChips .fixedRows {
  height: 250px;
  overflow: hidden;
}

/* line 314, ../sass/common.scss */
.md-scroll-mask {
  z-index: 1000 !important;
}

/* line 318, ../sass/common.scss */
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 1500 !important;
}

/* line 322, ../sass/common.scss */
.tags {
  display: inline-block;
}
/* line 324, ../sass/common.scss */
.tags div {
  float: right;
}
/* line 326, ../sass/common.scss */
.tags div md-content, .tags div md-chips {
  padding: 0px;
  margin-bottom: 8px;
}

/* line 333, ../sass/common.scss */
.media-user {
  position: absolute;
  float: left;
  top: 10%;
  left: 15%;
  font: icon;
}

/* line 342, ../sass/common.scss */
.dropZone-image form {
  width: 100%;
}

/* line 347, ../sass/common.scss */
.content-url {
  padding-left: 5%;
  padding-bottom: 3%;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/
