/* line 4, ../sass/common.scss */
.font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 15, ../sass/common.scss */
label {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
  width: 150px;
}
/* line 20, ../sass/common.scss */
label .title {
  font-size: 18px;
  font-weight: bold;
}
/* line 25, ../sass/common.scss */
label .details {
  font-size: 16px;
}

/* line 30, ../sass/common.scss */
input {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 250px;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 4px;
}
/* line 37, ../sass/common.scss */
input .missing {
  border-color: red;
}

/* line 42, ../sass/common.scss */
button {
  max-width: 150px;
  color: #286090;
}
/* line 45, ../sass/common.scss */
button label {
  width: 100%;
}

/* line 50, ../sass/common.scss */
.font-large {
  font-size: large;
}

/* line 54, ../sass/common.scss */
.font-medium {
  font-size: medium;
}

/* line 58, ../sass/common.scss */
.font-small {
  font-size: small;
}

/* line 62, ../sass/common.scss */
.font-header {
  padding: 20px;
  text-align: center;
}

/* line 67, ../sass/common.scss */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* line 73, ../sass/common.scss */
.modal {
  margin: 25px auto 0;
  display: block;
}
/* line 76, ../sass/common.scss */
.modal .container {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 81, ../sass/common.scss */
.modal .videoModal {
  height: 60%;
  width: 61%;
  padding: 0px;
  background: black;
}
/* line 86, ../sass/common.scss */
.modal .videoModal label {
  color: #00BFF0;
  text-align: center;
  display: block;
  margin-top: 3%;
  font-size: 150%;
  width: 100%;
  padding-left: 0px;
}
/* line 95, ../sass/common.scss */
.modal .videoModal p {
  color: #72D0F4;
  text-align: center;
  display: block;
  margin-top: 3%;
  line-height: 1;
  font-size: 120%;
  width: 100%;
  padding-left: 0px;
}
/* line 105, ../sass/common.scss */
.modal .videoModal iframe {
  background: black;
  width: 100%;
  height: 83%;
  padding-bottom: 5%;
}
/* line 111, ../sass/common.scss */
.modal .videoModal video {
  background: black;
  width: 100%;
  height: 83%;
  padding-bottom: 5%;
}

/* line 120, ../sass/common.scss */
.checkboxdemoSyncing .checkboxDemo1 div {
  clear: both;
}

/* line 123, ../sass/common.scss */
.checkboxdemoSyncing .checkboxDemo1 .md-checkbox {
  float: left;
}

/* line 126, ../sass/common.scss */
.checkboxdemoSyncing legend {
  color: #3F51B5;
}

/* line 129, ../sass/common.scss */
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal;
}

/* line 133, ../sass/common.scss */
.checkboxdemoSyncing p {
  padding-left: 8px;
}

/* line 136, ../sass/common.scss */
.checkboxdemoSyncing .info {
  padding-left: 13px;
}

/* line 139, ../sass/common.scss */
.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px;
}

/* line 143, ../sass/common.scss */
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 100%;
}

/* line 148, ../sass/common.scss */
#gmaps {
  width: 300px;
  height: 800px;
  float: left;
  margin-left: 5%;
}

/* line 155, ../sass/common.scss */
.progressCirculardemoBasicUsage body {
  padding: 20px;
}

/* line 158, ../sass/common.scss */
.progressCirculardemoBasicUsage h4 {
  margin: 10px 0;
}

/* line 161, ../sass/common.scss */
.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px;
}

/* line 164, ../sass/common.scss */
.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px;
}

/* line 169, ../sass/common.scss */
.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0;
}

/* line 172, ../sass/common.scss */
.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px;
}

/* line 176, ../sass/common.scss */
.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px;
}

/* line 180, ../sass/common.scss */
.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1);
}

/* line 185, ../sass/common.scss */
.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em;
}

/* line 188, ../sass/common.scss */
.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0);
}

/* line 191, ../sass/common.scss */
iframe {
  left: 0 !important;
}
