/* line 18, ../sass/common.scss */
.title-font-size {
  font-size: 40px;
  font-weight: bold;
  font-family: Ariel, sans-serif;
}

/* line 25, ../sass/common.scss */
.text-center {
  text-align: center;
}

/* line 29, ../sass/common.scss */
.text-font-size {
  font-size: 12px;
  font-family: Ariel, sans-serif;
}

/* line 34, ../sass/common.scss */
.sub-title-font-size {
  font-size: 30px;
  font-family: Ariel, sans-serif;
}

/* line 39, ../sass/common.scss */
.sub-title-font-size-small {
  font-size: 25px;
  font-family: Ariel, sans-serif;
}

/* line 100, ../sass/common.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 104, ../sass/common.scss */
.parent {
  position: relative;
}

/* line 107, ../sass/common.scss */
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 111, ../sass/common.scss */
iframe {
  position: absolute;
  width: 1px;
  display: none;
  height: 1px;
  left: 0px;
}

/* line 119, ../sass/common.scss */
li {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  /* line 125, ../sass/common.scss */
  .logo {
    background-repeat: no-repeat;
  }
}
/* line 4, ../sass/index.scss */
body {
  background-color: white;
  font-family: Ariel, sans-serif;
}

/* line 9, ../sass/index.scss */
.logo {
  background-image: url("../../images/common/logos/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 18%;
  width: 30%;
  position: absolute;
  background-repeat: no-repeat;
  left: 0px;
  z-index: 1;
  cursor: pointer;
}

/* line 13, ../sass/index.scss */
.font-title {
  font-size: 40px;
}

/* line 17, ../sass/index.scss */
.font-sub-title {
  font-size: 30px;
}

/* line 21, ../sass/index.scss */
.font-text {
  font-size: 12px;
}
