.userModal{
    margin-top: 5%;
    font-size: 12px;
    /*height: 80%;*/
    height:800px;
    background: white;
    width: 75%;
}

.modal{
    overflow: visible;
}
.userLi {
    float: right;
}

.nav{
    padding-right: 0px;
}

.nav-tabs>li{
    float: right;
}