/* line 2, ../../../sass/main/home/home.scss */
.videos {
  padding: 1% 3% 1% 1%;
}
/* line 4, ../../../sass/main/home/home.scss */
.videos ul {
  display: block;
  padding: 0px;
  border-radius: 4px;
  /*video:hover{
    transition: 3s;
    width: 25%;
    opacity: 1;
    zoom: 1;
  }*/
}
/* line 8, ../../../sass/main/home/home.scss */
.videos ul li {
  display: inline-block;
}
/* line 15, ../../../sass/main/home/home.scss */
.videos ul li video:focus {
  outline: none !important;
}
/* line 18, ../../../sass/main/home/home.scss */
.videos ul li .details {
  background: black;
  position: absolute;
  opacity: 0;
  width: 24%;
  height: 27%;
}
/* line 25, ../../../sass/main/home/home.scss */
.videos ul li .details:hover {
  transition: 2s;
  opacity: 0.75;
}
/* line 28, ../../../sass/main/home/home.scss */
.videos ul li .details:hover label {
  background-color: white;
  color: green;
}
