/* line 3, ../../sass/modals/login.scss */
.loginModal {
  width: 25%;
  margin-top: 10%;
  padding: 20px 20px 10px;
}

/* line 9, ../../sass/modals/login.scss */
.mar-login {
  margin: 2% -3%;
}

/* line 12, ../../sass/modals/login.scss */
.close-login {
  font-size: xx-large;
  border-radius: 100%;
  right: 19%;
  background-color: white;
  position: absolute;
}

/* line 20, ../../sass/modals/login.scss */
.close-signUpModal {
  right: 29%;
  margin-top: 3%;
}

/* line 25, ../../sass/modals/login.scss */
.close-loginModal {
  right: 36%;
  margin-top: 8%;
}

/* line 30, ../../sass/modals/login.scss */
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 39, ../../sass/modals/login.scss */
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

/* line 49, ../../sass/modals/login.scss */
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* line 55, ../../sass/modals/login.scss */
h3 {
  text-align: center;
}

/* line 59, ../../sass/modals/login.scss */
.signUp-modal {
  transition: 3s;
  margin-top: 5%;
  font-size: 12px;
  background: white;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40%;
  padding-bottom: 5%;
}

/* line 72, ../../sass/modals/login.scss */
.submit {
  margin-right: 11%;
  margin-top: 20px;
}

/* line 77, ../../sass/modals/login.scss */
.form-signUp {
  width: 65%;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-top: 1%;
  display: inline-flex;
}

/* line 85, ../../sass/modals/login.scss */
.form-signUp .label-checkbox {
  width: 30%;
}
