/* line 8, ../../sass/modals/user.scss */
.userModal {
  transition: 3s;
  margin-top: 5%;
  font-size: 12px;
  background: white;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 60%;
  padding-bottom: 5%;
}

/* line 21, ../../sass/modals/user.scss */
.modal {
  overflow: visible;
}

/* line 27, ../../sass/modals/user.scss */
.userModal > .toggleMenu {
  display: none;
  background: #00BFF0;
  padding: 10px 15px;
  width: 100%;
}
/* line 34, ../../sass/modals/user.scss */
.userModal > .nav {
  list-style: none;
  *zoom: 1;
}
/* line 38, ../../sass/modals/user.scss */
.userModal > .nav:before,
.userModal > .nav:after {
  content: " ";
  display: table;
}
/* line 43, ../../sass/modals/user.scss */
.userModal > .nav:after {
  clear: both;
}
/* line 46, ../../sass/modals/user.scss */
.userModal > .nav ul {
  list-style: none;
  width: 12em;
  display: flex;
}
/* line 51, ../../sass/modals/user.scss */
.userModal > .nav li a {
  display: block;
  padding: 9px 20px;
  font-size: large;
  color: #72D0F4;
  text-transform: uppercase;
  margin-right: 10px;
  border: 1px solid #72D0F4;
}
/* line 60, ../../sass/modals/user.scss */
.userModal > .nav li {
  position: relative;
  display: inline-block;
}
/* line 64, ../../sass/modals/user.scss */
.userModal > .nav li.active a, .userModal > .nav li a:hover {
  border: 1px solid;
  border-bottom-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #00BFF0;
}
/* line 80, ../../sass/modals/user.scss */
.userModal > .nav li a:hover {
  background: #DCDCDC;
}
/* line 83, ../../sass/modals/user.scss */
.userModal > .nav > li {
  float: right;
  display: inline-block;
}
/* line 87, ../../sass/modals/user.scss */
.userModal > .nav > li > a.parent {
  background: url(../images/nav_arrow.png) no-repeat 15px 15px #FFF;
  color: #03B8FD;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: none;
  padding: 10px 20px 10px 40px;
}
/* line 97, ../../sass/modals/user.scss */
.userModal > .nav li ul {
  position: absolute;
  padding: 27px 13px;
}
/* line 101, ../../sass/modals/user.scss */
.userModal > .nav > li.hover > ul {
  left: -10px;
}
/* line 104, ../../sass/modals/user.scss */
.userModal > .nav li li.hover ul {
  left: 100%;
  top: 0;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -ms-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}
/* line 113, ../../sass/modals/user.scss */
.userModal > .nav li li a {
  font-size: 0.8725em;
  padding: 10px;
  display: block;
  color: #03B8FD;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
  border-top: 1px solid rgba(233, 233, 233, 0.09);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: none;
  text-decoration: none;
}
/* line 132, ../../sass/modals/user.scss */
.userModal > .nav li li li a {
  background: #249578;
  z-index: 200;
  border-top: 1px solid #1d7a62;
}
/* line 137, ../../sass/modals/user.scss */
.userModal > .nav li li a:hover {
  background: #72d0f4;
  color: #fff;
  border-bottom: none;
  border: none;
}

/* line 145, ../../sass/modals/user.scss */
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

/* line 150, ../../sass/modals/user.scss */
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

/* line 154, ../../sass/modals/user.scss */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: gold;
  font-size: xx-large;
  margin-top: 2%;
}

/* line 161, ../../sass/modals/user.scss */
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

/* line 166, ../../sass/modals/user.scss */
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

/* line 171, ../../sass/modals/user.scss */
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

/* line 177, ../../sass/modals/user.scss */
.user-Details {
  margin-top: 4%;
}
/* line 179, ../../sass/modals/user.scss */
.user-Details md-input-container {
  margin: 0px !important;
  padding: 0px !important;
}
/* line 183, ../../sass/modals/user.scss */
.user-Details md-has-icon {
  padding: 0px !important;
}
/* line 186, ../../sass/modals/user.scss */
.user-Details md-icon {
  right: inherit !important;
}
/* line 190, ../../sass/modals/user.scss */
.user-Details md-switch .md-bar {
  background-color: deeppink;
  /* set selected bar color */
}
/* line 195, ../../sass/modals/user.scss */
.user-Details md-switch.md-checked .md-bar {
  background-color: rgba(63, 81, 181, 0.87);
  /* set not selected bar color */
}
/* line 200, ../../sass/modals/user.scss */
.user-Details md-switch.md-checked .md-thumb {
  border: black;
  background-color: white;
  /* not selected switch color */
}
/* line 205, ../../sass/modals/user.scss */
.user-Details table.table {
  float: right;
  width: 100% !important;
  transition: 3s;
}
/* line 210, ../../sass/modals/user.scss */
.user-Details td {
  border-top: none !important;
  font-size: 140%;
  font-weight: 700;
  padding: 2px !important;
  vertical-align: inherit !important;
  display: inline-block;
}
/* line 218, ../../sass/modals/user.scss */
.user-Details > img {
  float: left;
  width: 25%;
  border-radius: 15%;
  margin-left: 2%;
}

/* line 226, ../../sass/modals/user.scss */
.b-update-user {
  align-content: center;
}

/* line 230, ../../sass/modals/user.scss */
.switch-M {
  transform: rotate(0deg);
}

/* line 233, ../../sass/modals/user.scss */
.switch-F {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* line 241, ../../sass/modals/user.scss */
md-input-container {
  margin-left: 5px;
}

/* line 246, ../../sass/modals/user.scss */
.read-only td {
  margin-bottom: 2% !important;
}

/* line 250, ../../sass/modals/user.scss */
.pac-container {
  z-index: 1500;
}

/* line 254, ../../sass/modals/user.scss */
.no-data {
  text-align: center;
  font-size: xx-large;
  margin-top: 10%;
}

/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l                  (normal)
.jssora02r                  (normal)
.jssora02l:hover            (normal mouseover)
.jssora02r:hover            (normal mouseover)
.jssora02l.jssora02ldn      (mousedown)
.jssora02r.jssora02rdn      (mousedown)
*/
/* line 269, ../../sass/modals/user.scss */
.jssora02l, .jssora02r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url("../../../img/a02.png") no-repeat;
  overflow: hidden;
}

/* line 279, ../../sass/modals/user.scss */
.jssora02l {
  background-position: -3px -33px;
}

/* line 280, ../../sass/modals/user.scss */
.jssora02r {
  background-position: -63px -33px;
}

/* line 281, ../../sass/modals/user.scss */
.jssora02l:hover {
  background-position: -123px -33px;
}

/* line 282, ../../sass/modals/user.scss */
.jssora02r:hover {
  background-position: -183px -33px;
}

/* line 283, ../../sass/modals/user.scss */
.jssora02l.jssora02ldn {
  background-position: -3px -33px;
}

/* line 284, ../../sass/modals/user.scss */
.jssora02r.jssora02rdn {
  background-position: -63px -33px;
}

/* jssor slider thumbnail navigator skin 03 css */
/*
.jssort03 .p            (normal)
.jssort03 .p:hover      (normal mouseover)
.jssort03 .pav          (active)
.jssort03 .pdn          (mousedown)
*/
/* line 294, ../../sass/modals/user.scss */
.jssort03 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 32px;
}

/* line 302, ../../sass/modals/user.scss */
.jssort03 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* line 311, ../../sass/modals/user.scss */
.jssort03 .w, .jssort03 .pav:hover .w {
  position: absolute;
  width: 60px;
  height: 30px;
  border: white 1px dashed;
  box-sizing: content-box;
}

/* line 319, ../../sass/modals/user.scss */
.jssort03 .pdn .w, .jssort03 .pav .w {
  border-style: solid;
}

/* line 323, ../../sass/modals/user.scss */
.jssort03 .c {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 32px;
  background-color: #000;
  filter: alpha(opacity=45);
  opacity: .45;
  transition: opacity .6s;
  -moz-transition: opacity .6s;
  -webkit-transition: opacity .6s;
  -o-transition: opacity .6s;
}

/* line 339, ../../sass/modals/user.scss */
.jssort03 .p:hover .c, .jssort03 .pav .c {
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 344, ../../sass/modals/user.scss */
.jssort03 .p:hover .c {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

/* line 351, ../../sass/modals/user.scss */
* html .jssort03 .w {
  width: 62px;
  height: 32px;
}

/* line 357, ../../sass/modals/user.scss */
.user-videos ul {
  margin-top: 3%;
}
/* line 360, ../../sass/modals/user.scss */
.user-videos li {
  display: flex;
  padding: 3%;
  margin: 1%;
  border: 1px solid #808080;
  margin-left: 10%;
}
/* line 366, ../../sass/modals/user.scss */
.user-videos li div {
  margin-left: 2%;
  display: inline;
}
/* line 370, ../../sass/modals/user.scss */
.user-videos li label {
  font-size: 200%;
  font: "Open Sans Condensed", sans-serif;
  padding-right: 10%;
  min-width: 150%;
}
/* line 376, ../../sass/modals/user.scss */
.user-videos li span {
  font: "Open Sans Condensed", sans-serif;
  font-size: 120%;
  padding-right: 10%;
  min-width: 150%;
}
/* line 382, ../../sass/modals/user.scss */
.user-videos li p {
  font: "Open Sans Condensed", sans-serif;
  font-size: 160%;
  padding-right: 10%;
  min-width: 150%;
}
/* line 389, ../../sass/modals/user.scss */
.user-videos li:hover {
  box-shadow: 10px 10px 5px #888888;
}
/* line 392, ../../sass/modals/user.scss */
.user-videos video {
  height: 140px;
  float: right;
}

/* line 400, ../../sass/modals/user.scss */
.md-chip {
  float: right !important;
}

/* line 406, ../../sass/modals/user.scss */
.user-article ul li {
  list-style-type: none;
  margin-left: 5%;
}
