/* line 4, ../../sass/modals/user.scss */
.userModal {
  transition: 3s;
  margin-top: 5%;
  font-size: 12px;
  background: white;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 60%;
  padding-bottom: 5%;
}

/* line 17, ../../sass/modals/user.scss */
.modal {
  overflow: visible;
}

/* line 23, ../../sass/modals/user.scss */
.userModal > .toggleMenu {
  display: none;
  background: #00BFF0;
  padding: 10px 15px;
  width: 100%;
}
/* line 30, ../../sass/modals/user.scss */
.userModal > .nav {
  list-style: none;
  *zoom: 1;
}
/* line 34, ../../sass/modals/user.scss */
.userModal > .nav:before,
.userModal > .nav:after {
  content: " ";
  display: table;
}
/* line 39, ../../sass/modals/user.scss */
.userModal > .nav:after {
  clear: both;
}
/* line 42, ../../sass/modals/user.scss */
.userModal > .nav ul {
  list-style: none;
  width: 12em;
  display: flex;
}
/* line 47, ../../sass/modals/user.scss */
.userModal > .nav li a {
  display: block;
  padding: 9px 20px;
  font-size: large;
  color: #72D0F4;
  text-transform: uppercase;
  margin-right: 10px;
  border: 1px solid #72D0F4;
}
/* line 56, ../../sass/modals/user.scss */
.userModal > .nav li {
  position: relative;
  display: inline-block;
}
/* line 60, ../../sass/modals/user.scss */
.userModal > .nav li.active a, .userModal > .nav li a:hover {
  border: 1px solid;
  border-bottom-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #00BFF0;
}
/* line 76, ../../sass/modals/user.scss */
.userModal > .nav li a:hover {
  background: #DCDCDC;
}
/* line 79, ../../sass/modals/user.scss */
.userModal > .nav > li {
  float: right;
  display: inline-block;
}
/* line 83, ../../sass/modals/user.scss */
.userModal > .nav > li > a.parent {
  background: url(../images/nav_arrow.png) no-repeat 15px 15px #FFF;
  color: #03B8FD;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: none;
  padding: 10px 20px 10px 40px;
}
/* line 93, ../../sass/modals/user.scss */
.userModal > .nav li ul {
  position: absolute;
  padding: 27px 13px;
}
/* line 97, ../../sass/modals/user.scss */
.userModal > .nav > li.hover > ul {
  left: -10px;
}
/* line 100, ../../sass/modals/user.scss */
.userModal > .nav li li.hover ul {
  left: 100%;
  top: 0;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -ms-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}
/* line 109, ../../sass/modals/user.scss */
.userModal > .nav li li a {
  font-size: 0.8725em;
  padding: 10px;
  display: block;
  color: #03B8FD;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
  border-top: 1px solid rgba(233, 233, 233, 0.09);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: none;
  text-decoration: none;
}
/* line 128, ../../sass/modals/user.scss */
.userModal > .nav li li li a {
  background: #249578;
  z-index: 200;
  border-top: 1px solid #1d7a62;
}
/* line 133, ../../sass/modals/user.scss */
.userModal > .nav li li a:hover {
  background: #72d0f4;
  color: #fff;
  border-bottom: none;
  border: none;
}

/* line 141, ../../sass/modals/user.scss */
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

/* line 146, ../../sass/modals/user.scss */
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

/* line 150, ../../sass/modals/user.scss */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: gold;
  font-size: xx-large;
  margin-top: 2%;
}

/* line 157, ../../sass/modals/user.scss */
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

/* line 162, ../../sass/modals/user.scss */
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

/* line 167, ../../sass/modals/user.scss */
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

/* line 173, ../../sass/modals/user.scss */
.user-Details {
  margin-top: 4%;
}
/* line 175, ../../sass/modals/user.scss */
.user-Details md-input-container {
  margin: 0px !important;
  padding: 0px !important;
}
/* line 179, ../../sass/modals/user.scss */
.user-Details md-has-icon {
  padding: 0px !important;
}
/* line 182, ../../sass/modals/user.scss */
.user-Details md-icon {
  right: inherit !important;
}
/* line 186, ../../sass/modals/user.scss */
.user-Details md-switch .md-bar {
  background-color: rgba(63, 81, 181, 0.87);
  /* set not selected bar color */
}
/* line 190, ../../sass/modals/user.scss */
.user-Details md-switch.md-checked .md-bar {
  background-color: deeppink;
  /* set selected bar color */
}
/* line 194, ../../sass/modals/user.scss */
.user-Details md-switch.md-checked .md-thumb {
  border: black;
  background-color: white;
  /* not selected switch color */
}
/* line 199, ../../sass/modals/user.scss */
.user-Details .pac-container {
  display: block;
}
/* line 202, ../../sass/modals/user.scss */
.user-Details table.table {
  float: right;
  width: 100% !important;
  transition: 3s;
}
/* line 207, ../../sass/modals/user.scss */
.user-Details td {
  border-top: none !important;
  font-size: 140%;
  font-weight: 700;
  padding: 2px !important;
  display: inline-block;
}
/* line 214, ../../sass/modals/user.scss */
.user-Details > img {
  float: left;
  width: 25%;
  border-radius: 15%;
  margin-left: 2%;
}

/* line 222, ../../sass/modals/user.scss */
.b-update-user {
  align-content: center;
}

/* line 226, ../../sass/modals/user.scss */
.switch-M {
  transform: rotate(0deg);
}

/* line 229, ../../sass/modals/user.scss */
.switch-F {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* line 237, ../../sass/modals/user.scss */
md-input-container {
  margin-left: 5px;
}

/* line 242, ../../sass/modals/user.scss */
.read-only td {
  margin-bottom: 2% !important;
}

/* line 247, ../../sass/modals/user.scss */
.pac-container {
  z-index: 1000 !important;
}
