<div ng-controller="homeCtrl" ng-cloak>

    <span ng-show="minus" class="glyphicon glyphicon-minus" data-ng-click="minus=false"></span>
<span ng-show="!minus" class="glyphicon glyphicon-plus" data-ng-click="minus=true"></span>
<div ng-show="minus" >
    <h4>
        {{'favoriteVideos' | translate}}
    </h4>

    <carousel3d ng-model="slides"
                options="options"
                on-selected-click="selectedClick(index)"
                on-slide-change="app.slideChanged(index)"
                on-last-slide="app.lastSlide(index)"
                on-before-change="app.beforeChange(index)">
    </carousel3d>

</div>
    <check-box-filters></check-box-filters>

    <div class="videos">
        <ul>
            <li ng-repeat="video in videos |pagination: currentPage * itemsPerPage | limitTo: itemsPerPage" ng-click="playVideo(video.content)">
               <div id="video1" class="video-size">

                    <video name="media" preload="metadata" loop muted>
                        <source src="{{ video.contentOffset | trustUrl }}" >
                    </video>

                   <div class="details">
                       <label>{{video.headline}}</label>
                       <label>{{video.shortDesc}}<span ng-show="video.flag">קרא עוד</span></label>
                   </div>
               </div>
            </li>
        </ul>
    </div>



    <div class="pagination-div">
        <ul class="pagination">
            <li ng-class="DisablePrevPage()">
                <a href ng-click="prevPage()"> Prev</a>
            </li>
            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}"
                ng-click="setPage(n)">
                <a href="#">{{n+1}}</a>
            </li>
            <li ng-class="DisableNextPage()">
                <a href ng-click="nextPage()">Next </a>
            </li>
        </ul>
    </div>

</div>