<div ng-controller="contactUsCtrl">
<display-message message="{{displayMessage}}" error="{{displayMessageError}}">
</display-message>

<form role="form" name="contactForm" id="contactForm" method="POST" action="//formspree.io/coachersir@gmail.com">
	<md-input-container>
		<label>{{'Menu.ContactUsContent.Full_Name' | translate}}</label>
		<input type="text" name="name" ng-model="full_name" required="required"/>
		<!-- <div role="alert">
			<span class="error" ng-show="contactForm.name.$error.required">
		  	Required!</span>
		</div> -->
    </md-input-container>
    <br>
    <md-input-container>
        <label>{{'User.Details.Email' | translate}}</label>
        <input type="email" name="_replyto" ng-model="email" required="required"/>
		<!-- <div role="alert">
   			<span class="error" ng-show="contactForm._replyto.$error.required">
     		Required!</span>
     		<span class="error" ng-show="contactForm._replyto.$error.email">
    		Not valid email!</span>
		</div> -->
    </md-input-container>
    <br>
    <md-input-container class="md-block">
        <label>{{'Menu.ContactUsContent.Message' | translate}}</label>
        <textarea name="message" ng-model="message" required="required" md-maxlength="150" rows="5" md-select-on-focus>
        </textarea>
        <!-- <div role="alert">
  			<span class="error" ng-show="contactForm.message.$error.required">
    		Required!</span>
		</div> -->
    </md-input-container>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactForm.$invalid">
    	{{'General.Send' | translate}}
    </button>
</form> 
</div>

