/* line 2, ../../sass/user/img.scss */
.userImg {
  margin: auto;
  width: 600px;
}

/* line 6, ../../sass/user/img.scss */
#slides_control {
  width: 530px;
  /* left: 50%; */
  /* top: 20px; */
  margin-right: 25%;
  margin-top: 25px;
  height: 199%;
}

/* line 15, ../../sass/user/img.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
