<div>
    <hr ng-show="!search" style="margin-top : 10px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #72D0F4, rgba(0, 0, 0, 0));">

    <div>{{filter | translate}}</div>
    <div ng-class="search ? 'down-search' : 'up-search'" style="transition: 3s">
        <div ng-show="search" >
            <div>
                <span class="glyphicon glyphicon-triangle-bottom" style="color: #72D0F4; font-weight: bold;    font-size: 15px;
                    margin: 10px;" ng-click="search=false"> {{'Search.Down' | translate }}</span>
            </div>
          </div>

        <div ng-show="!search" >
            <div class="filters" >


            <md-input-container>
                <label>{{"Google.Location" | translate}}</label>
                <input placeholder="" ng-model="chosenPlace" googleplace />
            </md-input-container>


                <!--<md-chips class="custom-chips" ng-model="ctrl.vegObjs" readonly="ctrl.readonly"
                          md-transform-chip="ctrl.newVeg($chip)">
                    <md-chip-template>
                        <span>
                          <strong>[{{$index}}] {{$chip.name}}</strong>
                          <em>({{$chip.type}})</em>
                        </span>
                    </md-chip-template>
                    <button md-chip-remove class="md-primary vegetablechip">
                        <md-icon md-svg-icon="md-close"></md-icon>
                    </button>
                </md-chips>-->

                <!--Switch for Maps -->
                <div style="float:left; margin-left:2px; transition: 3s; height: 45px" >
                <span>{{"Google.Maps" | translate}}</span>
                <md-switch class="md-primary" ng-model="maps"  >
                   </md-switch>
                </div>
                <!--Switch for Maps -->
            </div>
        </div>

    </div>

    <div ng-show="!search" class="glyphicon glyphicon-triangle-top" style="color: #72D0F4;  font-weight: bold;  font-size: 15px;
    margin: 10px;" ng-click="search=true" > {{'Search.Up' | translate }}</div>

    <hr id="hrCheckBox" style="margin-top : 10px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #72D0F4, rgba(0, 0, 0, 0));">


</div>{{bottom}}
<div ng-if="maps" class="mapsWrapper">
<div  ng-style="{top:top,height:heightMap}" google-map=""></div>
    </div>
</div>
